/* color del Menu de Navegacion y Footer*/
/* imagen fondo de la pagina Inicio y Contacto */
/* imagen fondo de la pagina Medidas */
/* imagen fondo de la pagina Nosotros */
/* imagen fondo de la pagina Promos */
/* imagen fondo de la pagina Servicios */
/* mediaqueries imagen fondo de la pagina  */
/* mediaqueries imagen fondo de la pagina  */
/* mediaqueries imagen fondo de la pagina  */
/* mediaqueries imagen fondo de la pagina  */
/* mediaqueries imagen fondo de la pagina  */
/* mediaqueries imagen fondo de la pagina  */
/* mediaqueries imagen fondo de la pagina  */
/* mediaqueries imagen fondo de la pagina  */
/* mediaqueries imagen fondo de MEDIAQUERIES  */
/* mediaqueries imagen fondo de MEDIAQUERIES  */
/* importando las variables */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
/* importando iconos de bootstrap para utilizar el ckeck */
/* eliminar el subrayado de los accesos*/
li {
  list-style-type: none; }

/* formatear los espacios en los accesos*/
ul {
  margin: 0;
  padding: 0; }

/* eliminar el punto que se genera delante de los accesos*/
a {
  text-decoration: none; }

/* FONDOS DE PANTALLA */
/* fondo del index y contacto*/
#fondo_index, #fondo_medidas, #fondo_nosotros, #fondo_promociones, #fondo_servicios {
  background-image: url(../image/header/imagenfondo.svg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

/* fondo de la pagina de medidas*/
#fondo_medidas {
  background-image: url(../image/header/fondo2.svg); }

/* fondo de la pagina nosotros*/
#fondo_nosotros {
  background-image: url(../image/header/fondo3.svg); }

/* fondo de la pagina de promociones*/
#fondo_promociones {
  background-image: url(../image/header/fondo4.svg); }

/* fondo de la pagina de servicios*/
#fondo_servicios {
  background-image: url(../image/header/fondo5.svg); }

/* header, logo y banner */
.gridBanner {
  display: grid;
  grid-template-columns: 70%;
  grid-template-rows: auto;
  grid-template-areas: "banner";
  justify-items: stretch;
  justify-content: space-around; }
  .gridBanner #banner {
    grid-area: banner;
    height: auto;
    width: auto; }

/* menu de navegacion */
.gridMenu {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: auto;
  grid-template-areas: "banner";
  justify-items: center;
  justify-content: space-around; }
  .gridMenu .menu {
    grid-area: menu;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    background-color: rgba(190, 190, 190, 0.589);
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap; }
    .gridMenu .menu #menuColor {
      padding-left: 1vh;
      padding-right: 1vh;
      color: #293092; }
    .gridMenu .menu .textoPropiedades {
      /* ejemplo de mixin*/
      font-family: "Ubuntu";
      font-size: 3vh;
      /* ejemplo de mixin*/ }
    .gridMenu .menu #menuColor:hover {
      /* cambio de color del menu de navegacion cuando te posicionas arriba */
      color: #e91811; }

/* titulos e imagenes del main y section del INDEX */
/* servicios y pagina nosotros*/
.gridProductos {
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: auto;
  grid-template-areas: "productos";
  justify-items: stretch;
  justify-content: space-around; }
  .gridProductos #productos, .gridProductos .gridPromociones #promociones, .gridPromociones .gridProductos #promociones {
    /* ejemplo de mixin*/
    font-family: "Ubuntu";
    font-size: 7vh;
    font-weight: bold;
    grid-area: productos;
    margin-top: 10vh;
    margin-bottom: 5vh;
    text-align: center; }

/* promociones*/
.gridPromociones {
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: auto;
  grid-template-areas: "promociones";
  justify-items: auto;
  justify-content: space-around; }
  .gridPromociones #promociones {
    grid-area: promociones;
    margin-top: 20vh;
    margin-bottom: 5vh;
    /* aplicando ejemplo de extend */
    font-weight: bold;
    text-align: center;
    /* ejemplo de mixin*/
    font-family: "Ubuntu";
    font-size: 7vh; }

/* footer */
.gridFooter {
  display: grid;
  margin-top: 3vh;
  grid-template-columns: 10% 71% 10%;
  grid-template-rows: auto;
  grid-template-areas: "redes textos textos disenador";
  justify-items: stretch;
  justify-content: stretch;
  /* fondo de todos los textos */ }
  .gridFooter p {
    background-color: rgba(190, 190, 190, 0.589); }
  .gridFooter .redes {
    grid-area: redes;
    background: #bebebe;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vh;
    height: 100%;
    width: 100%; }
  .gridFooter #textosFooter {
    grid-area: textos;
    background: #bebebe;
    /* ejemplo de mixin*/
    font-family: "Roboto+Condensed";
    font-size: 2vh;
    height: auto;
    width: auto; }
    .gridFooter #textosFooter .textosFooter {
      color: #293092;
      text-align: center;
      align-items: stretch;
      padding: 1vh; }
  .gridFooter #textosFooter_disenador {
    grid-area: textos;
    background: #bebebe;
    /* ejemplo de mixin*/
    font-family: "Roboto+Condensed";
    font-size: 2vh;
    height: auto;
    width: auto; }
  .gridFooter .disenador {
    grid-area: disenador;
    margin: 0;
    padding: 1vh;
    background: #bebebe;
    flex-direction: column;
    justify-content: left;
    text-align: center;
    height: auto;
    width: auto; }
    .gridFooter .disenador h6 {
      /* ejemplo de mixin*/
      font-family: "Roboto+Condensed";
      font-size: 2vh;
      color: #293092; }

/*TODO lo referido a las paginas de servicios, promos, medidas, nosotros y contacto */
/* este grid y caracteristicas de textos es utilizado en la pagina de Servicios y Medidas */
.gridServicios {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: auto;
  grid-template-areas: "titulo titulo" "instalaciones fotoInstalaciones"  "fletes fotoFlete" "camaras fotoCamaras" "seguro fotoSeguro";
  justify-items: auto;
  justify-content: space-evenly;
  /* fondo de todos los textos */ }
  .gridServicios p {
    background-color: rgba(190, 190, 190, 0.589); }
  .gridServicios .textosServicios {
    grid-area: instalaciones fletes camaras seguros;
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    padding-left: 2vh;
    color: black;
    font-family: 'Texturina', serif;
    font-size: 3vh;
    text-align: left;
    font: bolder; }
  .gridServicios .textosMedidas {
    grid-area: instalaciones fletes camaras seguros;
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    padding-left: 2vh;
    color: black;
    font-family: 'Texturina', serif;
    font-size: 3vh;
    text-align: center;
    font: bolder; }
  .gridServicios #fotoServicios {
    grid-area: fotoInstalaciones fotoFlete fotoCamaras fotoSeguro;
    justify-self: center;
    align-self: center; }
  .gridServicios #promoBoton, .gridServicios #promoBoton2 {
    grid-area: titulo;
    /* ejemplo de mixin*/
    font-family: "Ubuntu";
    font-size: 5vh;
    color: white;
    font-weight: bold;
    text-align: center;
    justify-self: auto;
    background-color: #d34444;
    border-radius: 20px;
    border-style: groove;
    margin-top: 12vh;
    margin-bottom: 10vh; }
  .gridServicios #promoBoton2 {
    /* ejemplo de mixin*/
    font-family: "ubuntu";
    font-size: 3vh;
    background-color: #357753;
    padding-top: 1vh;
    padding-bottom: 1vh; }

/* este grid y caracteristicas esta siendo utilizado en la pagina Nosotros */
.gridNosotros {
  display: grid;
  grid-template-columns: 50% 40%;
  grid-template-rows: auto;
  grid-template-areas: "titulo titulo" "texto mapa";
  justify-items: auto;
  justify-content: space-evenly;
  /* fondo de todos los textos */ }
  .gridNosotros p {
    background-color: rgba(190, 190, 190, 0.589); }
  .gridNosotros .textos_nosotros {
    grid-area: texto;
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    padding-left: 4vh;
    color: black;
    font-family: 'Texturina', serif;
    font-size: 3vh; }
  .gridNosotros #mapa_nosotros {
    grid-area: mapa;
    padding-top: 3vh;
    margin-bottom: 3vh;
    justify-self: center;
    align-self: center; }
  .gridNosotros #promoBoton, .gridNosotros #promoBoton2 {
    grid-area: titulo;
    /* ejemplo de mixin*/
    font-family: "Ubuntu";
    font-size: 5vh;
    color: white;
    font-weight: bold;
    text-align: center;
    justify-self: auto;
    background-color: #d34444;
    border-radius: 20px;
    border-style: groove;
    margin-top: 12vh;
    margin-bottom: 10vh; }
  .gridNosotros #promoBoton2 {
    /* ejemplo de mixin*/
    font-family: "ubuntu";
    font-size: 3vh;
    background-color: #357753;
    padding-top: 1vh;
    padding-bottom: 1vh; }

/* este grid y caracteristicas se utilizan en la pagina Promos */
.gridPromo {
  display: grid;
  grid-template-columns: 60% 30%;
  grid-template-rows: auto;
  grid-template-areas: "titulo titulo" "texto50 img50" "texto40 img40" "texto30 img30";
  justify-items: auto;
  justify-content: space-around;
  /* fondo de todos los textos */ }
  .gridPromo p {
    background-color: rgba(190, 190, 190, 0.589); }
  .gridPromo .textosPromo {
    grid-area: texto50 texto40 texto30;
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    padding-left: 2vh;
    color: black;
    font-family: 'Texturina', serif;
    font-size: 3vh;
    font: bolder;
    text-align: left; }
  .gridPromo #fotosPromo {
    grid-area: img50 img40 img30;
    padding-top: 10vh;
    margin-bottom: 3vh;
    justify-self: center;
    align-self: center; }
  .gridPromo #promoBoton, .gridPromo #promoBoton2 {
    grid-area: titulo;
    /* ejemplo de mixin*/
    font-family: "Ubuntu";
    font-size: 5vh;
    color: white;
    font-weight: bold;
    text-align: center;
    justify-self: center;
    background-color: #d34444;
    border-radius: 20px;
    border-style: groove;
    margin-top: 12vh;
    margin-bottom: 10vh; }
  .gridPromo #promoBoton2 {
    /* ejemplo de mixin*/
    font-family: "ubuntu";
    font-size: 3vh;
    background-color: #357753;
    padding-top: 1vh;
    padding-bottom: 1vh; }

/* este grid y caracteristicas de textos es utilizado en la pagina de Contacto */
.gridContacto {
  display: grid;
  grid-template-columns: 75%;
  grid-template-rows: auto;
  grid-template-areas: "titulo" "contacto";
  justify-items: auto;
  justify-content: space-evenly; }
  .gridContacto h1 {
    grid-area: titulo;
    margin-top: 5vh;
    color: green;
    background-color: #e2dfdf;
    font-family: 'Ubuntu', sans-serif;
    font-size: 7vh;
    font-weight: bold;
    text-align: center; }
  .gridContacto .contacto {
    margin-bottom: 20px;
    grid-area: contacto;
    background-image: url(../image/header/naranja2.svg);
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2,5vh;
    font-weight: bolder;
    text-align: center; }
    .gridContacto .contacto .input__enviar {
      grid-area: contacto;
      background-color: #7ed44b;
      color: black;
      font-family: 'Ubuntu', sans-serif;
      font-size: 3vh;
      font-weight: bold;
      text-align: center; }
    .gridContacto .contacto .input__borrar {
      grid-area: contacto;
      background-color: #ce4040;
      color: black;
      font-family: 'Ubuntu', sans-serif;
      font-size: 3vh;
      font-weight: bold;
      text-align: center; }
  .gridContacto #promoBoton, .gridContacto #promoBoton2 {
    grid-area: titulo;
    /* ejemplo de mixin*/
    font-family: "Ubuntu";
    font-size: 5vh;
    color: white;
    font-weight: bold;
    text-align: center;
    justify-self: auto;
    background-color: #d34444;
    border-radius: 20px;
    border-style: groove;
    margin-top: 12vh;
    margin-bottom: 10vh; }
  .gridContacto #promoBoton2 {
    /* ejemplo de mixin*/
    font-family: "ubuntu";
    font-size: 3vh;
    background-color: #357753;
    padding-top: 2vh;
    padding-bottom: 2vh; }

/* Media Queries*/
@media only screen and (max-width: 1200px) {
  .gridMenu {
    grid-template-columns: 95%; }
    .gridMenu .menu {
      margin-top: 3vh;
      margin-bottom: 3vh; }
  .gridFooter {
    margin-top: 2vh;
    grid-template-columns: 70% 30%;
    grid-template-areas: "redes disenador" "textos textos";
    justify-items: stretch;
    justify-content: stretch; }
    .gridFooter .redes {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding-top: 2vh; }
    .gridFooter #textosFooter .textosFooter {
      color: #293092;
      text-align: center;
      align-items: stretch;
      padding: 1vh; }
    .gridFooter .disenador {
      flex-direction: column;
      justify-content: left;
      text-align: center; } }

/* Media Queries */
@media only screen and (max-width: 992px) {
  .gridNosotros {
    grid-template-columns: 40% 50%; } }

@media only screen and (max-width: 768px) {
  .gridNosotros {
    grid-template-columns: 90%;
    grid-template-areas: "titulo" "texto" "mapa"; }
    .gridNosotros .textos_nosotros {
      margin-top: 2vh;
      padding-left: 2vh;
      padding-right: 2vh;
      font-size: 2vh;
      align-self: center; }
    .gridNosotros #mapa_nosotros {
      margin-left: 1vh;
      margin-right: 1vh;
      justify-self: center;
      align-self: center; }
    .gridNosotros #promoBoton, .gridNosotros #promoBoton2 {
      margin-top: 4vh;
      margin-bottom: 4vh;
      justify-content: center;
      background-size: contain; }
  .gridProductos #productos, .gridProductos .gridPromociones #promociones, .gridPromociones .gridProductos #promociones {
    /* ejemplo de mixin*/
    font-family: "Ubuntu";
    font-size: 2vh;
    margin-top: 4vh;
    margin-bottom: 4vh; }
  /* promociones*/
  .gridPromociones {
    grid-template-columns: 90%; }
    .gridPromociones #promociones {
      margin-top: 4vh;
      margin-bottom: 4vh;
      /* ejemplo de mixin*/
      font-family: "Ubuntu";
      font-size: 2vh; }
  .gridPromo {
    grid-template-columns: 60%;
    grid-template-areas: "titulo" "texto50" "img50" "texto40" "img40" "texto30" "img30";
    justify-items: center; }
    .gridPromo .textosPromo {
      margin-top: 2vh;
      font-size: 2vh;
      text-align: left; }
    .gridPromo #fotosPromo {
      padding-top: 0;
      margin-bottom: 0;
      padding-bottom: 10vh; }
    .gridPromo #promoBoton, .gridPromo #promoBoton2 {
      margin-top: 4vh;
      margin-bottom: 4vh;
      justify-content: center; }
  .gridServicios {
    grid-template-columns: 90%;
    grid-template-areas: "titulo" "instalaciones" "fotoInstalaciones"  "fletes" "fotoFlete" "camaras" "fotoCamaras" "seguro" "fotoSeguro"; }
    .gridServicios .textosServicios {
      margin-top: 2vh;
      padding-left: 0;
      font-size: 2vh; }
    .gridServicios .textosMedidas {
      margin-top: 2vh;
      padding-left: 0vh;
      font-size: 2vh; }
    .gridServicios #fotoServicios {
      margin-bottom: 7vh; }
    .gridServicios #promoBoton, .gridServicios #promoBoton2 {
      margin-top: 4vh;
      margin-bottom: 4vh;
      justify-content: center;
      background-size: contain; }
  .gridContacto .contacto {
    margin-bottom: 10px;
    background-image: url(../image/header/naranja2.svg);
    font-size: 2vh; }
    .gridContacto .contacto .input__enviar {
      font-size: 2vh; }
    .gridContacto .contacto .input__borrar {
      font-size: 2vh; }
  .gridContacto #promoBoton, .gridContacto #promoBoton2 {
    margin-top: 4vh;
    margin-bottom: 4vh;
    justify-content: center;
    background-size: contain; }
  /* mediaqueries imagen fondo de la pagina Index */
  #fondo_index, #fondo_medidas, #fondo_nosotros, #fondo_promociones, #fondo_servicios {
    background-image: url(../image/header/fondoMediaQueries2.svg); }
  /* mediaqueries imagen fondo de la pagina Medidas  */
  #fondo_medidas {
    background-image: url(../image/header/fondoMediaQueries2.svg); }
  /* mediaqueries imagen fondo de la pagina Nosotros */
  #fondo_nosotros {
    background-image: url(../image/header/fondoMediaQueries2.svg); }
  /* mediaqueries imagen fondo de la pagina Promos */
  #fondo_promociones {
    background-image: url(../image/header/fondoMediaQueries2.svg); }
  /* mediaqueries imagen fondo de la pagina Servicios */
  #fondo_servicios {
    background-image: url(../image/header/fondoMediaQueries2.svg); } }

@media only screen and (max-width: 576px) {
  .gridMenu .menu .textoPropiedades {
    /* ejemplo de mixin*/
    font-family: "Ubuntu";
    font-size: 1.5vh;
    /* ejemplo de mixin*/ }
  .gridFooter #textosFooter {
    display: none; }
  .gridBanner {
    grid-template-columns: 95%;
    justify-content: space-around; }
  .gridNosotros #promoBoton, .gridNosotros #promoBoton2 {
    /* ejemplo de mixin*/
    font-family: "ubuntu";
    font-size: 3vh;
    padding: 1vh 1vh 1vh 1vh; }
  .gridPromo #promoBoton, .gridPromo #promoBoton2 {
    /* ejemplo de mixin*/
    font-family: "ubuntu";
    font-size: 3vh;
    padding: 1vh 1vh 1vh 1vh; }
  .gridServicios #promoBoton, .gridServicios #promoBoton2 {
    /* ejemplo de mixin*/
    font-family: "ubuntu";
    font-size: 3vh;
    padding: 1vh 1vh 1vh 1vh; }
  .gridContacto #promoBoton, .gridContacto #promoBoton2 {
    /* ejemplo de mixin*/
    font-family: "ubuntu";
    font-size: 3vh;
    padding: 1vh 1vh 1vh 1vh; } }
