$colorTitulo: rgb(41, 48, 146); /* color del Menu de Navegacion y Footer*/
$imagenFondo: url(../image/header/imagenfondo.svg);/* imagen fondo de la pagina Inicio y Contacto */
$imagenFondo_dos: url(../image/header/fondo2.svg);/* imagen fondo de la pagina Medidas */
$imagenFondo_tres: url(../image/header/fondo3.svg);/* imagen fondo de la pagina Nosotros */
$imagenFondo_cuatro: url(../image/header/fondo4.svg);/* imagen fondo de la pagina Promos */
$imagenFondo_cinco: url(../image/header/fondo5.svg);/* imagen fondo de la pagina Servicios */
$imagenFondo_celeste: url(../image/header/fondopersiana_celeste.svg);/* mediaqueries imagen fondo de la pagina  */
$imagenFondo_amarillo: url(../image/header/fondopersiana_amarillo.svg);/* mediaqueries imagen fondo de la pagina  */
$imagenFondo_azul: url(../image/header/fondopersiana_azul.svg);/* mediaqueries imagen fondo de la pagina  */
$imagenFondo_naranja: url(../image/header/fondopersiana_naranja.svg);/* mediaqueries imagen fondo de la pagina  */
$imagenFondo_rojo: url(../image/header/fondopersiana_rojo.svg);/* mediaqueries imagen fondo de la pagina  */
$imagenFondo_rojodos: url(../image/header/fondopersiana_rojo2.svg);/* mediaqueries imagen fondo de la pagina  */
$imagenFondo_verde: url(../image/header/fondopersiana_verde.svg);/* mediaqueries imagen fondo de la pagina  */
$imagenFondo_verdeagua: url(../image/header/fondopersiana_verdeagua.svg);/* mediaqueries imagen fondo de la pagina  */
$imagenFondo_mediaqueries: url(../image/header/fondoMediaQueries.svg);/* mediaqueries imagen fondo de MEDIAQUERIES  */
$imagenFondo_mediaqueries2: url(../image/header/fondoMediaQueries2.svg);/* mediaqueries imagen fondo de MEDIAQUERIES  */